{{> nav/nav}}
{{> nav/login}}

<h1>Welcome {{user.username}}</h1>

<h2>Your Favorites</h2>


        <div class="card-deck">
            {{#each user.starred_drinks}}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/images/{{name}}.jpg" alt="a drink" style="width:270px;height:400px">
                        </div>
                        <div class="flip-card-back">
                            <a href='/drink/{{id}}'><h1 id="cocktail-header">{{name}}</h1></a>
                        <ul>
                        <li style="list-style-type: none;"><strong>Ingredients</strong></li> 
                        {{list-item ingredients}}
                        <li style="list-style-type: none;"><strong>Glass:</strong></li>
                        <li>{{glass_type}}</li>                        
                        <li style="list-style-type: none;"><strong>Instructions:</strong></li>
                        <ol>
                        {{list-instructions instructions}}
                        </ol>
                    </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
     


    




