{{> nav/nav}}
{{> nav/login}}

<h1>Welcome {{user.username}}</h1>

<h2>Your Favorites</h2>


        <div class="card-deck">
            {{#each drinks}}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="/images/{{name}}.jpg" alt="a drink" style="width:270px;height:400px">
                        </div>
                        <div class="flip-card-back">
                            <a href='/drink/{{id}}'><h1 id="cocktail-header">{{name}}</h1></a>
                            <i class="fa-regular fa-heart heart"></i>
                            <ul>
                                {{list-item ingredients}}
                                <li>{{glass_type}}</li>
                                <li>{{instructions}}</li>
                            </ul>
                    
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
     


    




