{{> nav/nav}}
{{> nav/login}}


<section class="container">
    <h3="all-drinks">Our Drinks</h3>
</section>

<div class="card-deck">
    {{#each drinks}}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/{{name}}.jpg" alt="a drink" style="width:270px;height:400px">
                </div>
                <div class="flip-card-back">
                <a href='/drink/{{id}}' class="{{id}}"><h1 class='cocktail-header' id="cocktail-header">{{name}}</h1></a>
                    <i class="fa-regular fa-heart heart"></i>
                    <ul>
                        {{list-item ingredients}}
                        <li>{{glass_type}}</li>
                        {{list-instructions instructions}}
                    </ul>
              
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script src="/js/add-star.js"></script>