{{> nav/nav}}
{{> nav/login}}


<section class="container">
    <h3 class="h3">Our {{drinks.category}} Drinks</h3>
</section>

<div class="card-deck">
    {{#each drinks}}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/images/{{name}}.jpg" alt="a drink" style="width:350px;height:450px">
                </div>
                <div class="flip-card-back">
                <a href='/drink/{{id}}' class="{{id}}"><h1 class='cocktail-header' id="cocktail-header">{{name}}</h1></a>
                    <ul class="back-list">
                        <li style="list-style-type: none;"><strong>Ingredients</strong></li> 
                        {{list-item ingredients}}
                        <li style="list-style-type: none;"><strong>Glass:</strong></li>
                        <li>{{glass_type}}</li>                        
                        <li style="list-style-type: none;"><strong>Instructions:</strong></li>
                        <ol class="instructions">
                        {{list-instructions instructions}}
                        </ol>
                    </ul>
              
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script src="/js/add-star.js"></script>