<!--{{> nav/nav}}-->
{{> nav/login}}

<div class="card mb-3" style="max-width: 750px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/images/{{drinks.name}}.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="drink-title">{{ drinks.name }}</h1>

                <ul>
                    <li style="list-style-type: none;"><strong>Ingredients</strong></li>
                    {{#each ingredients}}
                    <li>{{item}}</li>
                    {{/each}}
                    <li style="list-style-type: none;"><strong>Glass:</strong></li>
                    <li style="list-style-type: none;">{{drinks.glass_type}}</li>
                    <li style="list-style-type: none;"><strong>Instructions:</strong></li>
                    <ol class="instructions">
                        {{#each instructions}}

                        <li>{{item}}</li>

                        {{/each}}
                    </ol>
                </ul>

                <h3>Favorites: {{drinks.star_count}}</h3>

<<<<<<< HEAD
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> Add
                    Comment</button>
                {{!-- modal --}}
                {{#if loggedIn}}
=======
                {{!-- modal --}}
                 {{#if loggedIn}}
>>>>>>> develop
                <div class="modal fade " id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content comment-form ">
                            <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
                            <div class="card-body text-center"> 
                                <div class="comment-box text-center">
                                    <h4>Add a comment</h4>
                                    <div class="comment-area"> <textarea name="comment-body" id="text-area"
                                            class=" comment-body" placeholder="what is your comment?"
                                            rows="4"></textarea> </div>
                                    <div class="text-center mt-4"> <button type="submit"
                                            class="btn btn-success send px-5 m-2">Add Comment </button>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                {{/if}}
                
                    
                        {{#if loggedIn}}
                <form>                    
                    <div>
                        <button type="button" data-toggle="modal" data-target="#form">add comment</button>
                         {{#if isStarred}}
                        <button type="button" data-star="{{starredDrink.id}}" class="remove-favorite-btn">Remove from
                            Favorites</button>
                        {{else}}
                        <button type="button" class="favorite-btn">Add to Favorites</button>
                        {{/if}}
                        {{else}}
                        <br>
                        {{/if}}
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{{> nav/comments drinks.comments}}
<script src="/js/comment.js"></script>
{{#if loggedIn}}
{{#if isStarred}}
<script src="/js/remove-star.js"></script>
{{else}}
<script src="/js/add-star.js"></script>
{{/if}}
{{/if}}